<div class="row">
  <div class="jumbotron col-md-3">
    <h2>parties</h2>
    <ul class="scroll list-group">
      <li class="list-group-item" ng-repeat="party in parties" ng-click="partySelected(party)">{{party.name}}</li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="padding">
      <div class="padding jumbotron row">
        Bacon ipsum dolor sit amet ground round fatback tenderloin ham. Pork strip steak meatball beef, shank frankfurter sirloin pork chop boudin chicken pork belly bacon venison drumstick. Frankfurter sirloin biltong, shoulder ham hock short ribs pork loin short loin jowl. Frankfurter biltong chuck meatball
      </div>
      <div class="jumbotron row">
        <div ng-if="song" class="container">
          <div class="col-md-4">
            <img height="70px" width="70px" class="img-thumbnail" ng-src="{{song.user.thumbnail}}" alt=""><br>
            <small>{{song.user.name}}</small>
            <div class="row">
              <button class="btn btn-sm btn-primary">
                <span class="glyphicon glyphicon-thumbs-up"></span>
              </button>
            </div>
          </div>

          <div class="col-md-6">
            <div class="row">
              {{song.title | limitTo:30 }}
            </div>
            <div class="row">
              <img height="200px" width="300px" ng-src="{{song.thumbnail}}" alt="">
            </div>
          </div>

          <div class="col-md-2">
            <div class="" ng-if="song.likes.length">
              likes: {{song.likes.length}}
            <!--   <button
              data-container="body"
              data-toggle="popover"
              data-placement="right"
              data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
              likes...
            </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 jumbotron">
    <ul class="list-inline">
      <li><small style="color:green" class="glyphicon glyphicon-plus"></small></li>
      <li><h2>songs</h2></li>
      <li><small ui-on-drop="onDropDelete($data,$event)" style="color:red" class="glyphicon glyphicon-trash"></small></li>
    </ul>
    <!-- <button class="btn btn-sm btn-danger" ui-on-drop="onDropDelete(\$data,\$event)">
      <span class="glyphicon glyphicon-trash"></span>
    </button>
    <button class="btn btn-sm btn-success">
      <span class="glyphicon glyphicon-plus"></span>
    </button> -->
    <ul class="scroll list-group">
      <li class="list-group-item"
          ui-draggable="true"
          drag="song"
          ng-repeat="song in party.requests"
          ng-click="songSelected(song)"
          >
          <a class="pull-left" href="#" drag-handle-class>
            <img class="media-object" drag-handle-class ng-src="{{song.thumbnail}}" width="80px" height="60px" alt="">
          </a>
          <small drag-handle-class>{{song.title | limitTo:15 }}</small><br>
          <small drag-handle-class ng-if="song.likes">likes: {{song.likes.length}}</small><br>
      </li>
    </ul>
  </div>
</div>
