<div class="row">
  <div class="jumbotron col-md-3">
    <h2>parties</h2>
    <ul class="scroll list-group">
      <li class="list-group-item" ng-repeat="party in parties" ng-click="partySelected(party)">{{party.name}}</li>
    </ul>
  </div>

  <div class="col-md-6">
    <div class="padding">
      <div class="padding jumbotron row">
        Bacon ipsum dolor sit amet ground round fatback tenderloin ham. Pork strip steak meatball beef, shank frankfurter sirloin pork chop boudin chicken pork belly bacon venison drumstick. Frankfurter sirloin biltong, shoulder ham hock short ribs pork loin short loin jowl. Frankfurter biltong chuck meatball 
      </div>  
      <div class="jumbotron row">
        <div class="media">
          <a class="pull-left" href="#">
            <img class="media-object" ng-src="{{song.thumbnail}}" alt="">
          </a>
          <div class="media-body">
            <h4 class="media-heading">{{song.title}}</h4>
            <div ng-if="song" class="caption">
              <img class="media-object" ng-src="{{song.user.thumbnail}}">
              <span>by: {{song.user.name}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-3 jumbotron">
    <h2>songs</h2>
    <ul class="list-group scroll">
      <li class="list-group-item"
          ng-repeat="song in party.requests"
          ng-click="songSelected(song)">
          <a class="pull-left" href="#">
            <img class="media-object" ng-src="{{song.thumbnail}}" width="80px" height="60px" alt="">
          </a>
          <small>{{song.title | limitTo:15 }}</small><br>
          <small ng-if="song.likes">likes: {{song.likes.length}}</small><br>
      </li>
    </ul>
  </div>
</div>