<div class="modal-header">
  <h3 class="modal-title">Search For a Song</h3><br>
  <form class="form-inline">
    <div class="form-group">
      <input type="text" class="form-control" ng-model="songpull" placeholder="search">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-sm btn-primary" ng-click="search(songpull)">search</button>
    </div>
  </form>
</div>
<div class="modal-body">
  <ul class="list-group">
    <li class="list-group-item"
        ng-repeat="song in songs"
        ng-click="ok(song)">
        <div class="pull-left">
          <img class="list-group-image" ng-src="{{song.thumbnails[0].url}}">
        </div>
        <div class="text-right">
          <h4>{{song.title}}</h4>
          <h5>{{song.author.name}}</h5><br>
        </div>
    </li>
  </ul>
</div>
<div class="modal-footer">
  <!-- <button class="btn btn-primary" ng-click="ok()">Ok</button> -->
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
